@import '@/assets/theme.css';

@layer base {
  :root {
    /* spacing and sizing related */
    --header-size: 82px;
  }

  html {
    @apply bg-background text-over-bg font-ordinary;
  }

  #app {
    @apply h-screen px-8;
  }
}

.head-height {
  height: var(--header-size);
}

.stage-height {
  min-height: calc(100vh - var(--header-size));
  min-width: 100%;
}

.anchor-offset {
  /*
  when an anchor is used for this position, it
  Offsets the scroll landing position by --header-size
  on top of it.
  */
  scroll-margin-top: calc(var(--header-size) + var(--spacing) * 8);
}
