@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';
@import '@/assets/funny-themes.css';

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@layer base {
  :root {
    /* background realted */
    --footer-bg: #273549;
    --background: #0e1a2d;
    --cta: #90fcdc;

    /* text realted */
    --over-bg-flashy: #ced7f3;
    --over-bg: #8a93ad;

    --flashy: 'Manrope', sans-serif;
    --ordinary: 'JetBrains Mono', monospace;
  }
}

@theme {
  --color-footer-bg: var(--footer-bg);
  --color-background: var(--background);
  --color-cta: var(--cta);

  --color-over-bg-flashy: var(--over-bg-flashy);
  --color-over-bg: var(--over-bg);

  --font-flashy: var(--flashy);
  --font-ordinary: var(--ordinary);
}
