@import 'tailwindcss';

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@layer base {
  :root([data-theme='davincif']) {
    /*
    --background: var(--color-slate-950);
    --over-bg: var(--color-slate-100);

    --cta: var(--color-emerald-500);
    --ovar-cta: var(--color-slate-950);
    */
  }
}
